

gradle/*
!gradle/libs.version.toml
gradlew
gradlew.bat

app/schemas
app/proguard-rules.pro

# IDE
.idea
.vscode/*
!.vscode/launch.json
!.vscode/settings.json



target/
app/src/main/rust/openssl-prebuild/*/install