# https://github.com/ReVanced/revanced-manager-compose/blob/dev/.github/workflows/release.yml

name: CI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-ci
  cancel-in-progress: true

jobs:
  build-ci:
    name: Build-Debug-Ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle

      - name: Install Rust toolchain
        run: |
          rustup update
          rustup target add aarch64-linux-android x86_64-linux-android

      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./app/src/main/rust/"

      - name: Compile
        run: |
          env
          ls /usr/local/lib/android/sdk/ndk/

          export PATH="${ANDROID_NDK}/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH"  && ./gradlew assembleDebug

  prettier-ci:
    name: Prettier-Fmt-Ci
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Prettier
        run: npx prettier --check .
