name: Nightly Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - "*.md"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-nightly
  cancel-in-progress: true

jobs:
  nightly:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: gradle

      # https://github.com/actions/cache/blob/main/examples.md#java---gradle
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle

      - name: Build apk
        run: |
          ./gradlew assembleNightly

          mkdir -p packages
          # warning: do not use github.event syntax here
          # https://stackoverflow.com/questions/71458189/github-action-workflow-call-does-not-use-up-to-date-input-values
          mv app/build/outputs/apk/nightly/app-release.apk packages/gitnote-nightly.apk

      - uses: actions/upload-artifact@v4
        with:
          name: releases
          path: packages/*
          if-no-files-found: error
