name: Upload Artifacts

on:
  workflow_dispatch:
    inputs:
      version:
        required: false
        type: string
        default: "nightly"
  workflow_call:
    inputs:
      version:
        required: true
        type: string

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
            lfs: true

      - run: |
          git clone https://github.com/wiiznokes/libgit2-android --depth=1 --branch=patch-android

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      # https://github.com/actions/cache/blob/main/examples.md#java---gradle
      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      
      - name: Retrieve the secret and decode it to a file
        env:
          KEY_BASE64: ${{ secrets.KEY_BASE64 }}
        run: |
          echo $KEY_BASE64 | base64 --decode > app/key.jks


      - run: |
          touch app/build/outputs/apk/release/app-release.apk
          mv app/build/outputs/apk/release/app-release.apk packages/gitnote-release-${{ github.event.inputs.version }}-arm64-v8a.apk
      - uses: actions/upload-artifact@v4
        with:
          # todo: fix input (it is not take into account some how, but there is an input)
          # todo: dynamic arch
          path: packages/*
          if-no-files-found: error
      
      - uses: actions/download-artifact@v4
        with:
          path: "packages"

      - run: |
          ls -l packages/